@{
    Layout = null;
}

<footer class="wrapper">
   
        <ul>
            <li>
                <a href="#">
                    <div class="footer-icon">
                        <i class="fa fa-eye fa-1x"></i>
                    </div>
                    <div class="footer-text">Privacy Policy</div>

                </a>
            </li>
            <li>
                <a href="#">
                    <div class="footer-icon">
                        <i class="fa fa-bug fa-1x"></i>
                    </div>
                    <div class="footer-text">Report Bug</div>

                </a>
            </li>
            <li>
                <a href="#">
                    <div class="footer-icon">
                        <i class="fa fa-copyright fa-1x"></i>
                    </div>
                    <div class="footer-text">@DateTime.Now.Year - Totzke</div>
                </a>
            </li>
        </ul>
   
</footer>
