@{
    Layout = null;
}

<!DOCTYPE html>

<header class="wrapper clearfix">
    <h1 class="title">Paul Totzke</h1>
    <nav>
        <ul>
            <li>
                <a href="#">
                    <div class="nav-icon">
                        <i class="fa fa-linkedin-square fa-3x"></i>
                    </div>
                    <div class="nav-text">LinkedIn</div>

                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav-icon">
                        <i class="fa fa-github-square fa-3x"></i>
                    </div>
                    <div class="nav-text">Github</div>

                </a>
            </li>
            <li>
                <a href="#">
                    <div class="nav-icon">
                        <i class="fa fa-flask fa-3x"></i>
                    </div>
                    <div class="nav-text">Labs</div>
                </a>
            </li>
        </ul>
    </nav>
</header>
